SECRET_KEY=replace-with-a-private-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=nurucanvas_db
DB_USER=nurucanvas_user
DB_PASSWORD=replace-with-your-postgresql-password
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=

USE_CLOUDINARY=False
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=