asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
cloudinary==1.46.2
dj-database-url==2.1.0
Django==3.2.25
django-cloudinary-storage==0.3.0
gunicorn==21.2.0
idna==3.19
packaging==26.3
pillow==12.3.0
psycopg2-binary==2.9.12
python-decouple==3.8
pytz==2026.3.post1
requests==2.34.2
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
urllib3==2.7.0
whitenoise==6.6.0
